/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --page-bg-color: #000028;
  --page-bg-image: url(../images/cover-image.png);
  --page-p-text-color: #000028;
  --accent-color: #FF0070;
  --main-page-text-color: #DB00FF;
  --main-page-bottom-border: rgba(255,0,112, 0.4);
  --section-text-color: #F1B2CE;
}

.theme-dark .decorated-zone::before {
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.theme-dark .decorated-zone::after {
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.theme-dark .decorative-text__REC {
  position: absolute;
  color: var(--accent-color);
  font-size: var(--main-text-size);
  font-weight: 400;
  line-height: 1.3;
  top: 11px;
  right: 28px;
  pointer-events: none;
}

.theme-dark .decorative-text__REC::before {
  content: "";
  position: absolute;
  top: 7px;
  right: -19px;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.theme-dark .header__theme-menu {
  color: var(--accent-color);
}

.theme-dark .header__theme-menu-button_active,
.theme-dark .header__theme-menu-button:disabled {
  border: 1px solid var(--accent-color);
}

.theme-dark .header__theme-menu-button:hover {
  border: 1px solid var(--main-page-bottom-border);
}

.theme-dark .title {
  color: var(--main-page-text-color);
  text-shadow: 4px 4px var(--accent-color);
}

.theme-dark .title-decor {
  background-color: var(--accent-color);
  color: var(--page-p-text-color);
}

.theme-dark .page {
  background-color: var(--page-bg-color);
  background-image: var(--page-bg-image);
}


.theme-dark .content__section-title {
  color: var(--accent-color);
}

.theme-dark .section-text__link {
  text-shadow: 2px 2px var(--accent-color);
}

.theme-dark .section-text__link:hover {
  text-shadow: 2px 2px var(--accent-color);
}

.theme-dark .section-text__link:focus,
.theme-dark .section-text__link:focus-visible {
  outline: 1px solid var(--section-text-color);
}

.theme-dark .content-text {
  color: var(--section-text-color);
}

.theme-dark .title-advice {
  background-color: var(--accent-color);
  color: var(--page-p-text-color);
}




