/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --page-bg-color: #000028;
  --page-bg-image: url(../images/cover-image.png);
  --page-p-text-color: #000028;
  --accent-color: #FF0070;
  --main-page-text-color: #DB00FF;
  --main-page-bottom-border: rgba(255,0,112, 0.4);
  --section-text-color: #F1B2CE;
  --decorative-elements-color: #FF0070;
}




