/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --page-bg-color: #FFEEF6;
  --page-bg-image: none;
  --page-p-text-color:  #353430;
  --accent-color: #FF8DCB;
  --main-page-text-color: #ffc2e6;
  --main-page-bottom-border: rgba(53,52,48, 0.4);
  --section-text-color: #353430;
}

.theme-light .decorated-zone::before {
  border-top: 1px solid var(--page-p-text-color);
  border-right: 1px solid var(--page-p-text-color);
}

.theme-light .decorated-zone::after {
  border-bottom: 1px solid var(--page-p-text-color);
  border-left: 1px solid var(--page-p-text-color);
}

.theme-light .decorative-text__REC {
  display: none;
}

.theme-light .decorative-text__REC::before {
  display: none;
}

.theme-light .header__theme-menu {
  color: var(--page-p-text-color);
}

.theme-light .header__theme-menu-button_active,
.theme-light .header__theme-menu-button:disabled {
  border: 1px solid var(--page-p-text-color);
}

.theme-light .header__theme-menu-button:hover {
  border: 1px solid var(--main-page-bottom-border);
}

.theme-light .content__section-title {
  color: var(--page-p-text-color);
}

@media (prefers-color-scheme: light) {
  :root {
  --page-bg-color: #FFEEF6;
  --page-bg-image: none;
  --page-p-text-color:  #353430;
  --accent-color: #FF8DCB;
  --main-page-text-color: #ffc2e6;
  --main-page-bottom-border: rgba(53,52,48, 0.4);
  --section-text-color: #353430;
}

.decorated-zone::before {
  border-top: 1px solid var(--page-p-text-color);
  border-right: 1px solid var(--page-p-text-color);
}

.decorated-zone::after {
  border-bottom: 1px solid var(--page-p-text-color);
  border-left: 1px solid var(--page-p-text-color);
}

.theme-auto .decorative-text__REC {
  display: none;
}

.theme-auto .decorative-text__REC::before {
  display: none;
}

.header__theme-menu {
  color: var(--page-p-text-color);
}

.header__theme-menu-button_active,
.header__theme-menu-button:disabled {
  border: 1px solid var(--page-p-text-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--main-page-bottom-border);
}

 .content__section-title {
  color: var(--page-p-text-color);
}
}

