/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --page-bg-color: #FFEEF6;
  --page-bg-image: none;
  --page-p-text-color:  #353430;
  --accent-color: #FF8DCB;
  --main-page-text-color: #ffc2e6;
  --main-page-bottom-border: rgba(53,52,48, 0.4);
  --section-text-color: #353430;
  --decorative-elements-color: #353430;
}

.theme-light .decorative-text__REC {
  display: none;
}

.theme-light .decorative-text__REC::before {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
  --page-bg-color: #FFEEF6;
  --page-bg-image: none;
  --page-p-text-color:  #353430;
  --accent-color: #FF8DCB;
  --main-page-text-color: #ffc2e6;
  --main-page-bottom-border: rgba(53,52,48, 0.4);
  --section-text-color: #353430;
  --decorative-elements-color: #353430;
}

.theme-auto .decorative-text__REC {
  display: none;
}

.theme-auto .decorative-text__REC::before {
  display: none;
}
}



