/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.header {
  block-size: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:  1fr min-content 1fr;
  gap: 58px;
  margin-inline: var(--margin-inline-main);
  margin-block-end: 40px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--decorative-elements-color);
  border-right: 1px solid var(--decorative-elements-color);
  position: absolute;
  top: 10px;
  right: 0;
}

.decorated-zone::after {
  content: "";
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--decorative-elements-color);
  border-left: 1px solid var(--decorative-elements-color);
  position: absolute;
  bottom: 10px;
  left: 0;
}

.decorative-text__REC {
  position: absolute;
  color: var(--decorative-elements-color);
  font-size: var(--main-text-size);
  font-weight: 400;
  line-height: 1.3;
  top: 11px;
  right: 28px;
  pointer-events: none;
}

.decorative-text__REC::before {
  content: "";
  position: absolute;
  top: 7px;
  right: -19px;
  width: 9px;
  height: 9px;
  background-color: var(--decorative-elements-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--decorative-elements-color);
}

.header__theme-menu {
  justify-self: end;
  align-self: start;
  margin-block-start: 75px;
  color: var(--decorative-elements-color);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.header__theme-menu-button {
  background: transparent;
  border: 0;
  font-weight: 400;
  text-transform: lowercase;
  font-size: var(--main-text-size);
  line-height: 1;
  padding: 4px 12px;
  transition: border-color 0.3s ease;
}

.header__theme-menu-button_active,
.header__theme-menu-button:disabled {
  border: 1px solid var(--decorative-elements-color);
  pointer-events: none;
  cursor: default;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--main-page-bottom-border);
}

.header__theme-menu-button:focus,
.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--decorative-elements-color);
}

.title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  color: var(--main-page-text-color);
  text-shadow: 4px 4px var(--accent-color);
  line-height: 0.8;
}

.title-decor {
  display: block;
  background-color: var(--accent-color);
  color: var(--page-p-text-color);
  font-weight: 700;
  font-size: var(--main-text-size);
  line-height: 1.3;
}

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-color: var(--page-bg-color);
  background-image: var(--page-bg-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.content {
  display: grid;
  grid-template-rows: 1fr;
  margin-inline: var(--margin-inline-main);
  margin-block-start: 30px;
}

.content__gallery {
  gap: 10px;
}

.content__section-title {
  font-size: var(--main-text-size);
  font-weight: 700;
  line-height: 1.3;
  color: var(--decorative-elements-color);
  margin-block-end: 20px;
}

.section-text__link {
  text-shadow: 2px 2px var(--accent-color);
  text-decoration: none;
}

.section-text__link:hover {
  text-shadow: 2px 2px var(--accent-color);
  text-decoration: underline;
  outline-offset: 1px;
}

.section-text__link:focus,
.section-text__link:focus-visible {
  outline: none;
  outline: 1px solid var(--section-text-color);
  outline-offset: 1px;
}

.content-text {
  font-size: var(--main-text-size);
  font-weight: 400;
  line-height: 1.3;
  color: var(--section-text-color);
  margin-block-start: 10px;
  margin-block-end: 20px;
}

.title-advice {
  display: block;
  background-color: var(--accent-color);
  color: var(--page-p-text-color);
  font-weight: 400;
  font-size: var(--main-text-size);
}

.title-advice:first-of-type {
  margin-block-start: 20px;
}

.gallery-image {
  display: block;
  height: auto;
  width: 100%;
  object-fit: cover;
}

.footer {
  position: relative;
  block-size: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:  1fr;
  justify-content: center;
  align-items: center;
  margin-inline: var(--margin-inline-main);
  margin-block-start: 45px;
}

.footer__title {
  text-shadow: 2px 2px var(--accent-color);
  margin-inline-start: 5px;
}

/* 768 x 1024*/
@media (min-width: 768px) {
  .header {
    min-height: 1024px;
    gap: 161px;
    margin-block-start: 10px;
    margin-block-end: 50px;
  }

 .header > .title:first-of-type {
    margin-inline-start: -20px;
    justify-self: start;
  }

  .title {
    margin-block-start: -15px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__theme-menu {
    margin-block-start: 180px;
  }

  p.title-decor {
    max-width: 364px;
    margin-inline-start: auto;
    align-self: start
  }

  .decorated-zone::after {
    bottom: 30px;
  }

  .content {
    grid-template-columns: minmax(236px, 1fr) minmax(0, 2fr);
    column-gap: 20px;
    grid-template-rows: min-content;
  }

  .content__alternate {
    position: relative;
    margin-block-start: 150px;
    margin-block-end: 60px;
    grid-template-columns: 1fr;
  }

  .content__alternate .content__section-title {
    position: absolute;
    top: -90px;
    left: 0;
    grid-column: auto;
    max-width: 236px;
 }

  .content__section-title {
    grid-column: 1;
    grid-row: span 4;
    align-self: start;
  }

  h3.title-decor {
     grid-column: 2;
  }

  .content-text {
    grid-column: 2;
  }

  .title-advice {
    grid-column: 2;
  }

  .content__gallery {
    grid-template-columns: repeat(3, minmax(0,1fr));
    grid-auto-rows: min-content;
    gap: 20px;
    margin-block-start: 62px;
    margin-block-end: 70px;
 }

  .content__gallery .title-decor {
    grid-column: 1 / -1;
  }

  .content__gallery .gallery-image {
    height: 100%;
  }

  .content__gallery .gallery-image:nth-of-type(1) {
    grid-column: 1 / 3;
    grid-row: 2;
  }

  .content__gallery .gallery-image:nth-of-type(2) {
    grid-column: 3;
    grid-row: 2 / 4;
  }

  .content__gallery .gallery-image:nth-of-type(3) {
    grid-column: 1;
    grid-row: 3 / 5;
  }

  .content__gallery .gallery-image:nth-of-type(4) {
    grid-column: 2;
    grid-row: 3;
  }

  .content__gallery .gallery-image:nth-of-type(5) {
    grid-column: 2 / 4;
    grid-row: 4;
  }

  .footer {
    min-height: 1024px;
  }

  .footer__title {
    justify-self: center;
    align-self: center;
  }
  }

  /*1024 x 768*/
  @media (min-width: 1024px) {
    .header {
      min-height: 768px;
      gap: 114px;
    }

    .header__theme-menu {
      justify-self: center;
      align-self: start;
      margin-block-start: 8px;
    }

   .header__theme-menu-list {
      flex-direction: row;
    }

    .title {
      font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }

    p.title-decor {
      max-width: 491px;
    }

    .content {
      column-gap: 10px;
    }

    .content__alternate .content__section-title {
      margin-inline-start: 0;
      margin-block-end: 0;
      top: -70px
    }

    .content__alternate {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 20px;
      margin-block-start: 128px;
      margin-block-end: 60px;
      margin-inline: var(--margin-inline-main);

    }

    .content-altenate__card {
      display: grid;
      grid-template-rows: auto 1fr;
      gap: 10px;
    }

    .content__alternate .title-decor__alternate {
      grid-column: auto;
      grid-row: auto;
    }

    .content__alternate .content-text__alternate {
      grid-column: 1 / -1;
    }

    .content__alternate .content__section-title {
      max-width: 315px;
    }

    .content__alternate .content-text {
      margin-block-start: 0;
    }

    .content__gallery {
      gap: 20px;
    }

    .footer {
      min-height: 768px;
  }
  }
